/* can be taken out if we dont want to use embedded fonts */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600&display=swap");

h1.faq {
    font-size: 40px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
}

h2.faq {
    margin-left: 0;
    font-size: 30px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
}

p.faq {
    font-size: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    color: dimgrey;
}

p.faqDark {
    font-size: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    color: darkgrey;
}

p.faq2 {
    font-size: 15px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    color: #6b39c2;
}

p.faq2Dark {
    font-size: 15px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    color: #b8a9d5;
}

span.smaller {
    font-size: 75%;
    font-weight: normal;
}

.tagLight {
    color: #6b39c2;
    font-weight: 400;
}

.tagDark {
    color: #ac9fcb;
    font-weight: 400;
}